@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

.appinion-widget-video {
  font-family: "Montserrat", sans-serif !important;
  position: fixed;
}

.appinion-widget-video .widget-video {
  transition: 0.5s;
  border-radius: 15px;
  width: 197px;
  height: 283px;
  object-fit: cover;
}

.appinion-widget-video .widget-video-overlay {
  cursor: pointer;
  position: absolute;
  background-color: black;
  margin-bottom: 0px;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  border-radius: 15px;
}

.appinion-widget-video .widget-video-play {
  transition: 0.5s;
  cursor: pointer;
  position: absolute;
  width: 70px;
  height: 70px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.appinion-widget-video .widget-video-overlay:hover {
  transition: 0.5s;
  opacity: 0.6 !important;
}

.appinion-widget-video .widget-video-overlay:hover + .widget-video-play {
  transition: 0.5s;
}

.appinion-widget-video .widget-video-play:hover {
  transition: 0.5s;
}

.appinion-widget-video .video-logo-title {
  font-size: 14px !important;
  color: white !important;
  position: absolute !important;
  bottom: 30px !important;
  right: 15px !important;
  padding: 0 20px !important;
  border-left: 2px solid #ffffff !important;
}

@media screen and (max-width: 769px) {
  .appinion-widget-video {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@media screen and (max-width: 426px) {
  .appinion-widget-video {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);
  }
}
